button.rec-dot {
  /* background-color: rgb(235, 16, 16); */
  box-shadow: none;
  width: 50px;
  height: 8px;
  border: 1px solid #f46f4f;
  box-sizing: border-box;
  border-radius: 28px;
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  box-shadow: none;
  background-color: none;
  transform: scale(1.1);
}

button.rec-dot_active {
  background-color: var(--clr-primary);
}

button.rec-arrow {
  color: var(--clr-primary);
  background: transparent;
  /* border: 3px solid #1d3463; */
  box-shadow: 0 0 5px 0px var(--clr-secondary);
  border-radius: 10px;
}

button.rec-arrow:hover:enabled,
button.rec-arrow:hover:disabled,
button.rec-arrow:focus:enabled,
button.rec-arrow:focus:disabled {
  background-color: var(--clr-primary);
  color: #fff;
}

button.rec-arrow-left {
  margin-right: 10px;
}

button.rec-arrow-right {
  margin-left: 10px;
}
